.burger {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 50px;
  color: #475256;
  transition: color .5s cubic-bezier(.25, .46, .45, .94), left .5s cubic-bezier(.25, .46, .45, .94);
  @include r(768) {
    width: 40px;
    left: 15px;
  }
  &__wr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 186px;
    border-bottom: 1px solid #e5e5e5;
    @include r(1024) {
      border: none;
      height: 150px;
    }
    @include r(768) {
      border: none;
      height: 120px;
    }
  }
  &__line {
    width: 50px;
    height: 4px;
    background-color: currentColor;
    transition: transform .3s cubic-bezier(.25, .46, .45, .94),  opacity .1s cubic-bezier(.25, .46, .45, .94);
    @include r(768) {
      width: 40px;
    }
  }
  &.is-active {
    color: $white;
    .burger__line {
      position: absolute;
    }
    .burger__line:first-child {
      transform: rotate(-45deg);
    }
    .burger__line:nth-child(2) {
     opacity: 0;
    }
    .burger__line:last-child {
      transform: rotate(45deg);
    }
    @include r(576) {
      left: calc(100% - 50px);
    }
  }

}
