.pagination {
  width: 100%;
  height: 100%;
  @include r(768) {
    display: none;
  }
  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__dot {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
  }
  &__item {
    position: relative;
    display: block;
    font-family: 'OpenSansCondensed', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 1.35;
    color: #475256;
    text-align: center;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    & > .pagination__count {
      display: none;
    }
    &.is-active {
      border: none;
      margin-bottom: 22px;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 2px;
        background-color: $green;
        transform: translateY(-50%);
      }
      & > .pagination__count {
        display: block;
      }
      & > .pagination__dot {
        display: none;
      }
    }
  }

}
