.to-top {
  position: fixed;
  bottom: 180px;
  right: 3%;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(71,82,86,0.7);
  @include r(768) {
    right: 100%;
    left: 15px;
  }
  @include r(576) {
    opacity: 0;
    visibility: hidden;
  }
  svg {
    width: 12px;
    height: 7px;
  }
}
