<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <p class="footer__caption">Информация</p>
        <p class="footer__info">Стоимость инвестиционных паев и ипотечных сертификатов участия может увеличиваться и
          уменьшаться. Результаты инвестирования в прошлом не определяют доходы в будущем. Государство не гарантирует
          доходность инвестиций в паевые инвестиционные фонды и ипотечное покрытие. До приобретения инвестиционных паев
          и ипотечных сертификатов участия, следует ознакомиться с Правилами доверительного управления паевым
          инвестиционным фондом и Правилами ипотечным покрытием.
          ООО УК «Гамма Групп» не несет ответственности за возможные убытки инвестора в случае совершения операций с
          паями и ипотечными сертификатами участия.</p>
        <a href="" class="footer__link">Карта сайта</a>
      </div>
      <div class="col-6 offset-1">
        <p class="footer__caption">Контакты</p>
        <ul class="footer__list">
          <li class="footer__item">
            <p class="footer__contact">
              <span class="footer__contacts footer__contacts_caption">Адрес:</span>
              <span class="footer__contacts footer__contacts_info">630061, Новосибирск, ул. Красный проспект дом 157/1, офис 215</span>
            </p>
            <p class="footer__contact">
              <span class="footer__contacts footer__contacts_caption">Телефон:</span>
              <span class="footer__contacts footer__contacts_info"><a href="83832093131">+7 (383) 209 31 31</a> (Новосибирск)</span>
            </p>
          </li>
          <li class="footer__item">
            <p class="footer__contact">
              <span class="footer__contacts footer__contacts_caption">Адрес:</span>
              <span class="footer__contacts footer__contacts_info">109147, Москва, ул. Марксистская 34 корп 8, офис 1008</span>
            </p>
            <p class="footer__contact">
              <span class="footer__contacts footer__contacts_caption">Телефон:</span>
              <span class="footer__contacts footer__contacts_info"><a href="tel:8497097031">+7 (499) 709-70-31</a>  (Москва)</span>
            </p>
          </li>
          <li class="footer__item">
            <p class="footer__contact">
              <span class="footer__contacts footer__contacts_caption">Адрес:</span>
              <span class="footer__contacts footer__contacts_info">603089, Н. Новгород, ул.Гаражная д.4</span>
            </p>
            <p class="footer__contact">
              <span class="footer__contacts footer__contacts_caption">Телефон:</span>
              <span class="footer__contacts footer__contacts_info"><a href="tel:88314386638">+7 (831) 438-66-38</a>  (Нижний Новгород)</span>
            </p>
          </li>
          <li class="footer__item">
            <p class="footer__contact">
              <span class="footer__contacts footer__contacts_caption">Email:</span>
              <a href="mailto:info@am-gamma.ru" class="footer__contacts footer__contacts_info footer__link">info@am-gamma.ru</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="footer__bottom-text">
          <p>Информация о структуре и составе акционеров (участников) управляющей компании, в том числе о лицах, под контролем либо значительным влиянием которых находится управляющая компания, соответствует информации, направленной 19.05.2021 в Банк России для размещения на официальном сайте Банка России. Дата раскрытия 19.05.2021 время 17:00</p>
        </div>
      </div>
    </div>
  </div>
</footer>
