<div class="hide-menu">
  <div class="container">
    <div class="row">
      <div class="col-5 col-sm-2 offset-sm-1 offset-md-0">
        <a href="" class="hide-menu__logo">
          <img src="assets/img/logo-2.svg" alt="">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-11 col-sm-11  offset-sm-1 offset-md-0">
        <nav class="hide-menu__nav">
          <ul class="hide-menu__list">
            <li class="hide-menu__item">
              <a href="" class="hide-menu__link">Главная</a>
            </li>
            <li class="hide-menu__item hide-menu__sub">
              <a href="" class="hide-menu__link">О компании
                <svg>
                  <use xlink:href="assets/img/sprite.svg#arrow-right-3"></use>
                </svg>
              </a>
              <ul class="sub-menu">
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">О компании</a>
                </li>
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">Наша команда</a>
                </li>
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">Реквизиты</a>
                </li>
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">Новости</a>
                </li>
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">Партнерство</a>
                </li>
              </ul>
            </li>
            <li class="hide-menu__item hide-menu__sub">
              <a href="" class="hide-menu__link">Услуги
                <svg>
                  <use xlink:href="assets/img/sprite.svg#arrow-right-3"></use>
                </svg>
              </a>
              <ul class="sub-menu">
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">Услуга 1</a>
                </li>
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">Услуга 2</a>
                </li>
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">Услуга 3</a>
                </li>
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">Услуга 4</a>
                </li>
                <li class="sub-menu__item">
                  <a href="" class="sub-menu__link">Услуга 5</a>
                </li>
              </ul>
            </li>
            <li class="hide-menu__item hide-menu__sub">
              <a href="" class="hide-menu__link">
                Раскрытие информации
                <svg>
                  <use xlink:href="assets/img/sprite.svg#arrow-right-3"></use>
                </svg>
              </a>
            </li>
            <li class="hide-menu__item hide-menu__sub">
              <a href="" class="hide-menu__link">
                Документы
                <svg>
                  <use xlink:href="assets/img/sprite.svg#arrow-right-3"></use>
                </svg>
              </a>
            </li>
            <li class="hide-menu__item">
              <a href="contacts.html" class="hide-menu__link">Контакты</a>
            </li>
          </ul>
        </nav>
        <div class="only-mobile">
          <div class="hide-menu__profile header__profile profile">
            <a href="" class="profile__link">
              <svg>
                <use xlink:href="assets/img/sprite.svg#icon-reg"></use>
              </svg>
              Регистрация
            </a>
            <a href="" class="profile__link">
              <svg>
                <use xlink:href="assets/img/sprite.svg#icon-user"></use>
              </svg>
              Вход
            </a>
          </div>
          <div class="hide-menu__contacts header__contacts">
            <a href="emailto:info@am-gamma.ru" class="header__email">
              <svg>
                <use xlink:href="assets/img/sprite.svg#icon-letter"></use>
              </svg>
              info@am-gamma.ru
            </a>
            <a href="tel:+73832093131" class="header__phone">+7 383 209 31 31 <span>(Нск)</span></a>
            <a href="tel:+74997097031" class="header__phone">+7 499 709 70 31 <span>(Мск)</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
