<nav class="header__nav nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="" class="nav__link">Главная</a>
    </li>
    <li class="nav__item sub">
      <a href="" class="nav__link">О компании</a>
      <ul class="hover-menu">
        <li class="hover-menu__item">
          <a href="" class="hover-menu__link">
            О компании
            <svg>
              <use xlink:href="assets/img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </li>
        <li class="hover-menu__item">
          <a href="" class="hover-menu__link">
            Наша команда
            <svg>
              <use xlink:href="assets/img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </li>
        <li class="hover-menu__item">
          <a href="" class="hover-menu__link">
            Реквизиты
            <svg>
              <use xlink:href="assets/img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </li>
        <li class="hover-menu__item">
          <a href="" class="hover-menu__link">
            Новости
            <svg>
              <use xlink:href="assets/img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </li>
        <li class="hover-menu__item">
          <a href="" class="hover-menu__link">
            Партнерство
            <svg>
              <use xlink:href="assets/img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav__item sub">
      <a href="" class="nav__link">Услуги</a>
      <ul class="hover-menu">
        <li class="hover-menu__item">
          <a href="" class="hover-menu__link">
            Услуга 1
            <svg>
              <use xlink:href="assets/img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </li>
        <li class="hover-menu__item">
          <a href="" class="hover-menu__link">
            Услуга 2
            <svg>
              <use xlink:href="assets/img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </li>
        <li class="hover-menu__item">
          <a href="" class="hover-menu__link">
            Услуга 3
            <svg>
              <use xlink:href="assets/img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </li>
        <li class="hover-menu__item">
          <a href="" class="hover-menu__link">
            Услуга 4
            <svg>
              <use xlink:href="assets/img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </li>
        <li class="hover-menu__item">
          <a href="" class="hover-menu__link">
            Услуга 5
            <svg>
              <use xlink:href="assets/img/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav__item sub">
      <a href="" class="nav__link">Раскрытие информации</a>
    </li>
    <li class="nav__item sub">
      <a href="" class="nav__link">Документы</a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link">Контакты</a>
    </li>
  </ul>
</nav>
