.footer {
  padding-top: 80px;
  padding-bottom: 70px;
  background-color: #f5f5f5;
  &__caption {
    position: relative;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 2;
    text-transform: uppercase;
    width: 100%;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 55%;
      height: 1px;
      background-color: $green;
      transform: translateY(-50%);
      @include r(576) {
        width: 60%;
      }
      @include r(480) {
        width: 30%;
      }
    }
  }
  &__info {
    margin-bottom: 20px;
    line-height: 1.875;
  }
  &__contact {
    display: flex;
    gap: 50px;
    @include r(1024) {
      flex-direction: column;
      gap: 0;
    }
    @include r(960) {
      flex-direction: row;
    }
    @include r(480) {
      flex-direction: column;
    }
  }
  &__contacts {
    font-weight: 300;
    line-height: 1.875;
    &_caption {
      width: 70px;
    }
    a {
      font-weight: 700;
    }
  }
  &__list {
    @include r(1024) {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  &__item {
    @include r(1024) {
      flex: 0 0 100%;
    }
    &:not(:last-child) {
      margin-bottom: 35px;
      @include r(1024) {
        margin-bottom: 0;
      }
    }
  }
  &__link {
    font-weight: 700;
    line-height: 2.25;
    text-decoration: underline;
  }
  &__bottom-text {
    margin-top: 30px;
    padding-top: 30px;
    font-weight: 300;
    font-size: 0.75em;
    line-height: 1.17;
    text-align: center;
    border-top: 1px solid #e5e5e5;
  }
}
