.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 71px;
    }
    &.sub {
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -20px;
        display: block;
        width: 10px;
        height: 3px;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='3' viewBox='0 0 10 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 3L0 0H10L5 3Z' fill='%23A7CF43'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        transform: translateY(-10%);
      }
    }
  }
  &__link {
    font-weight: 700;
    font-size: 0.9em;
    line-height: 1.2;
    text-transform: uppercase;
  }
}
