.sidebar {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 100;
  width: 80px;
  border-right: 1px solid #e5e5e5;
  height: calc(100% - 40px);
  &__arrow {
    display: block;
    margin: 70vh auto 0;
    width: 8px;
    height: 101px;
  }
}
